.line1
{
  color: red;
  font-style: italic;
}
#line2
{
  color: red;
}
.important
{
  color: red;

}
.unimportant
{
  color: blue;
}
.cat-climate
{
  background-color: yellow;
  font-style: italic;
  text-decoration: underline;
}
.headings
{
  text-align: center;
  text-decoration: underline;
}
.border
{
  border-style: solid;
  float: right;
}
.paragraph
{
  color: red;
}
.school
{
  font-style: italic;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
img.standard-size {
  width: 300px;
  height:auto;
}
.sidebar
{
  width: 30%;
  float :right;
  background-color: yellow;
}
.column
{
  width: 350px;
  float: left;
}
