@media screen and (min-width: 480px) {
  body {
    background-color: skyblue;
    color: maroon;
  }
}

@media screen and (min-width :768px) {
  body {
    background-color: red;
  }
  .floats
  {
    width: 250px;
    float: right;
    padding: 30px;

  }
}


.line1 {
  color: red;
  font-style: italic;
}

#line2 {
  color: red;
}

.important {
  color: red;
}

.unimportant {
  color: blue;
}

.cat-climate {
  background-color: yellow;
  font-style: italic;
  text-decoration: underline;
}

.headings {
  text-align: center;
  text-decoration: underline;
}

.border p {
  border-style: solid;
  float: right;
}

.paragraph {
  color: red;
}

.school {
  font-style: italic;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

img.standard-size {
  width: 300px;
  height: auto;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.column {
  width: 350px;
  float: left;
}

text-box {
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  background-color: grey;
}

.cats p {
  background-color: coral;
  font-weight: bold;
}

.dogs p {
  background-color: steelblue;
  font-style: italic;
}

.links {
  text-decoration: underline;
}

.p1 p {
  border-style: solid;
}

.p2 p {
  background-color: gray;
}
